.background{
    -fx-background-color: linear-gradient(from 50% 50% to 100% 0%, #EDE8F5 10%, #ADBBDA 80%);
}

.sunway-label{
    -fx-font-size: 45;
}

/* Login Page & SignUp Page*/
.login-background, .sign-up-background{
    -fx-background-color: #3D52A0;
    -fx-background-radius: 0 10 10 0;
    -fx-effect: dropshadow(gaussian, #00000092, 8, 0.3, 5, 0);
    -fx-alignment: center;
    -fx-pref-width: 822;
}

.description, .sunway-label{
    -fx-font-family: "serif";
    -fx-font-size: 52;
    -fx-text-alignment: center;
    -fx-font-color: black;
    -fx-font-weight: bold;
}

.sunway-label{
    -fx-font-size: 45;
}

.login-vbox, .sign-up-vbox{
    -fx-spacing: 40px;
    -fx-pref-width:275;
    -fx-padding: 10;
    -fx-alignment: center;
}

.login-user-id, .login-password, .sign-up-user-id, .sign-up-password, .sign-up-confirm-password{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-color: white, white, white, black;
    -fx-border-width: 0 0 1 0;
    -fx-max-width: 280px;
}

.login-button, .sign-up-button{
    -fx-pref-width: 265;
    -fx-pref-height: 40;
    -fx-background-color: #7091E6;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: "serif";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.login-button:hover, .sign-up-button:hover{
    -fx-background-color: #5569b5;
}

.sign-up{
    -fx-background-color: transparent;
    -fx-text-fill: rgb(66, 65, 65);
    -fx-font-size: 14;
    -fx-border-color: white, white, white, rgb(66, 65, 65);
    -fx-border-width: 0 0 1 0;
    -fx-padding: -0.5;
}

.sign-up:hover{
    -fx-font-weight: bold;
}


/* Main Page */
.side-bar{
    -fx-background-color: #3D52A0;
    -fx-background-radius: 0 10 10 0;
    -fx-effect: dropshadow(gaussian, #00000092, 8, 0.3, 5, 0);
    -fx-pref-width: 250;
    -fx-spacing: 20px;
}

.profile-vbox{
    -fx-spacing: 30px;
    -fx-pref-width: inherit;
    -fx-alignment: center;
    -fx-padding: 10;
}

.profile{
    -fx-background-color: #3D52A0;
    -fx-background-radius: 0 10 10 0;
    -fx-effect: dropshadow(gaussian, #00000092, 8, 0.3, 5, 0);
}

.username{
    -fx-font-family: "serif";
    -fx-font-size: 35;
    -fx-text-alignment: center;
    -fx-font-color: black;
    -fx-font-weight: bold;
}

.heading, .sub-heading{
    -fx-font-family: "serif";
    -fx-padding: 10;
    -fx-pref-width: inherit;
    -fx-font-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 54;
}

.sub-heading{
    -fx-padding: 0 0 0 10;
    -fx-font-size: 30;
}

.button-vbox {
    -fx-spacing: 20px; /* Adjust space between elements */
    -fx-pref-width: inherit;
}

.content-vbox{
    -fx-spacing: 20px;
    -fx-pref-width: 1049;
}

.side-bar-button, .logout-button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "serif";
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-pref-width: inherit;
    -fx-background-radius: 0 10 10 0;
    -fx-padding: 15 0 15 0;
}

.side-bar-button:hover{
    -fx-background-color: #5569b5;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.logout-button:hover{
    -fx-text-fill: #5569b5;
}


/* Generate Timetable Page */
.generate-timetable-vbox, .available-lecturer-vbox{
    -fx-spacing: 20px;
    -fx-pref-width: inherit;
    -fx-pref-height: 800;
    -fx-padding: 10;
    -fx-alignment: center;
}

.details-hbox{
    -fx-spacing: 30px;
    -fx-pref-width: inherit;
    -fx-padding: 15;
}

.venue-hbox, .lecturer-id-hbox{
    -fx-spacing: 10px;
    -fx-padding: 0 0 0 10;
}

.programme-vbox, .semester-vbox, .year-vbox, .intake-vbox{
    -fx-pref-width: 200px;
}

.programme-label, .semester-label, .year-label, .intake-label, .venue-label, 
.available-label, .id-label,.unavailable-day-label, 
.programmelabel ,.intakelabel, .yearlabel{
    -fx-font-family: "serif";
    -fx-font-size: 20;
    -fx-font-color: black;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: inherit;
}

.venue-label{
    -fx-padding: 5;
    -fx-pref-width: 100px;
}

.programme-choice, .semester-choice, .year-choice, .intake-choice{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: white, white, white, black;
    -fx-border-width: 0 0 1 0;
    -fx-pref-width: inherit;
}

/* Style the dropdown list */
.choice-box .context-menu {
    -fx-background-color: linear-gradient(from 60% 50% to 100% 0%, #EDE8F5 10%, #ADBBDA 80%); /* Background of dropdown */
    -fx-background-radius: 10;
}

/* Style the list items inside the dropdown */
.choice-box .menu-item {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
}

/* Hover effect for dropdown items */
.choice-box .menu-item:hover {
    -fx-background-color: #3D52A0; /* Blue hover */
    -fx-text-fill: white;
}

.choice-box .menu-item:focused {
    -fx-background-color: #3D52A0; /* Blue hover */
    -fx-text-fill: white;
}
.venue-scroll-pane {
    -fx-fit-to-width: true; /* Ensures the ScrollPane takes up full width */
    -fx-fit-to-height: true; /* Ensures the ScrollPane takes up full height */
    -fx-background-color: #3D52A0;
}

/* Customizing the vertical scrollbar */
.venue-scroll-pane .scroll-bar:vertical {
    -fx-background-color: inherit; /* Blue background for the scrollbar track */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-width: 15px; /* Set the width of the vertical scrollbar */
}

/* Customizing the scrollbar thumb */
.venue-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #6A8DFF; /* Light blue thumb */
    -fx-background-radius: 10;
}

/* Customizing the horizontal scrollbar */
.venue-scroll-pane .scroll-bar:horizontal {
    -fx-background-color: inherit; /* Blue background for the scrollbar track */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-height: 15px; /* Set the height of the horizontal scrollbar */
}

/* Customizing the scrollbar thumb */
.venue-scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #6A8DFF; /* Light blue thumb */
    -fx-background-radius: 10;
}
.venue-textfield, .id-textfield{
    -fx-background-color: #8697C4;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-height: inherit;
}

.venue-display{
    -fx-background-color: #8697C4;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-vgap: 25;
}

.venue-button, .lecturer-button{
    -fx-background-color: #5569b5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand; /* hand cursor on hover */
}

.available-vbox{
    -fx-spacing: 20px;
    -fx-pref-width: inherit;
    -fx-alignment: center;
    -fx-font-family: "serif";
}

.available-hbox{
    -fx-spacing: 30px;
    -fx-pref-width: inherit;
    -fx-padding: 0 15 0 15;
}


.available-label{
    -fx-pref-width: 250px;
}

.available-button{
    -fx-background-color: #3D52A0;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: "serif";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-width: 120px;
}

.available-button:hover{
    -fx-background-color: #5569b5;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.generate-button{
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-background-color: #7091E6;
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: "serif";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.generate-button:hover{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Available Lecturer*/
.id-label{
    -fx-pref-width: 70px;
}

.unavailable-day-label{
    -fx-padding: 0 0 0 10;
    -fx-pref-width: 250px;
}

.unavailable-checkbox{
    -fx-font-size: 15;
    -fx-pref-width: 150px;
}

/* View Timetable*/
.view-timetable-hbox{
    -fx-spacing: 30px;
    -fx-padding: 0 0 0 5;

}

.radio-button, .type-label{
    -fx-font-family: "serif";
    -fx-font-size: 20;
    -fx-font-color: black;
    -fx-font-weight: bold;
    
}

.radio-button{
    -fx-pref-width: 200;
}

.type-label{
    -fx-pref-width: 70;
    -fx-padding: 0 10 0 0;
    -fx-alignment: center;
}

/* Programme Timetable */
.timetable-hbox{
    -fx-pref-width: 300px;
}

.intake-hbox, .year-hbox{
    -fx-pref-width: 250px;
}

.intakelabel, .yearlabel{
    -fx-pref-width: 130px;
}

.programmelabel{
    -fx-pref-width: 230px;
}

.search-bar{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: black;
    -fx-background-color: #8697C4;
    -fx-background-radius: 20px;
    -fx-alignment: baseline-left;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

/* Lecturer Table */
.lecturer-hbox{
    -fx-spacing: 50px;
    -fx-padding: 0 0 0 5;
    /* -fx-max-width: 1000; */
}